@charset "utf-8";
.admin-body #wrapper {
	font-family: Arial, sans-serif;
	background: #e3e3e3;
	width: 100%;
	height: 100%;
	position: absolute;
}

.login-box {
	text-align: center;
	width: 300px;
	height: 264px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}

.login-box input {
	border: 1px solid #979797 !important;
	border-radius: 5px;
	background: transparent;
	color: #464646;
	font-size: 20px;
	line-height: 23px;
	padding: 7px 20px;
	height: 40px;
	margin-bottom: 20px;
	box-shadow: none !important;
}

.login-box placeholder {
	font-size: 20px;
	line-height: 23px;
	color: #A8A8A8;
}

.login-box h3 {
	font-size: 20px;
	line-height: 24px;
	font-family: 'Basis Grotesque', Arial, sans-serif;
	color: #464646;
	padding-bottom: 20px;
}

.admin-login {
	border-radius: 5px;
	background-color: #2E495C;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 23px;
	padding: 12px 33px;
	text-transform: uppercase;
	margin-top: 40px;
}

.admin-login:hover, .admin-login:focus {	
	background-color: rgb(27, 54, 71);
	color: #fff;
}

#admin-panel {
	padding: 95px 15px 70px;
}

.header-admin {
	height: 77px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #2E495C;
}

.admin-set>ul>li {
	height: 77px;
}

.admin-set>ul>li>a {
	color: #fff;
	height: 77px;
	line-height: 48px;
}

.admin-set>ul>li>a:hover,
.admin-set>ul>li>a:focus,
.admin-set>ul>li>a:active {
	background-color: #1c2f3c;
}

.admin-set .nav .open>a,
.admin-set .nav .open>a:focus,
.admin-set .nav .open>a:hover {
	background-color: #1c2f3c;
}

.admin-panel {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.admin-phead {
	background-color: #2E495C;
	padding: 30px 35px;
	color: #fff;
	font-size: 14px;
}

.admin-pbody {
	background-color: #fff;
	padding: 30px 15px;
	min-height: 610px;
}

.establish-panel {
	margin-top: 15px;
	vertical-align: middle;
}

.admin-pills>li.active>a,
.admin-pills>li.active>a:focus,
.admin-pills>li.active>a:hover {
	color: #fff;
	background-color: rgba(100, 130, 150, 0.5);
	font-weight: bold;
}

.admin-pills>li>a {
	border-radius: 0;
	padding: 5px 10px;
	color: #737373;
}

.estab-content {
	padding-top: 50px;
}

#estab1 label,
#estab2 label,
#estab3 label,
#estab4 label {
	color: #737373;
	font-weight: normal;
	font-size: 14px;
}

#estab1 input,
#estab2 input,
#estab3 input,
#estab4 input {
	font-weight: normal;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	padding-left: 0;
	color: #3c3c3c;
}

#estab2 select {
	font-weight: normal;
	box-shadow: none !important;
	outline: none !important;
	border: 0.5px solid #D8D8D8;
	border-radius: 100px;
}

#estab1 textarea {
	font-weight: normal;
	box-shadow: none !important;
	border: 0.5px solid #D8D8D8;
	border-radius: 10px;
}

.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.image-preview-input-title {
	margin-left: 2px;
}

.admin-next {
	font-size: 20px;
	line-height: 22px;
	padding: 10px 35px;
	background-color: #2E495C;
	border-radius: 5px;
	color: #fff !important;
	position: absolute;
	right: 34px;
	bottom: 0;
	text-transform: uppercase;
}

#estab1,
#estab2,
#estab3,
#estab4 {
	height: 454px;
}

.admin-create h3 {
	font-size: 20px;
	line-height: 23px;
	color: #2E495C;
	text-align: right;
}

.admin-create h3>a {
	color: #2E495C;
	text-decoration: none;
}

.row-top {
	padding-top: 40px;
}

.row-top1 {
	padding-top: 20px;
}

.border-bottom {
	border-bottom: 1px solid #D8D8D8;
}

.sdata1 {
	font-size: 20px;
	line-height: 23px;
	color: #000000;
	float: left;
}

.sdata2 {
	font-size: 20px;
	line-height: 23px;
	color: #000000;
	float: right;
}

div.admin-content-wrapper {
	background-color: #E3E3E3;
}

@media screen and (max-width:767px) {
	.admin-next {
		position: relative;
		margin: 30px 30px 0;
	}
}

@media screen and (max-width:480px) {
	.admin-pills>li {
		float: none
	}
	.estab-content {
		border-top: 1px solid #e0e0e0;
		padding-top: 35px;
		margin-top: 25px;
	}
}