@charset "utf-8";

/* Sidebar CSS */

body {
    overflow-x: hidden;
}

a:hover {text-decoration: none !important;}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #f7f7f7;
    box-shadow: 0 0px 10px 0 #c9c9c9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav>li {
    padding-top: 30px;
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #92a7b5;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 85px;
    font-size: 16px;
    line-height: 60px;
    background-color: #92a7b5;
    letter-spacing: 2px;
    padding: 12px;
    padding-left: 70px;
}

.sidebar-nav>.sidebar-brand a {
    color: #000000;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #000000;
    background-color: #92a7b5;
}

#sidebar-wrapper .nav-link-collapse:after {
    float: right;
    content: '\f0d8';
    font-family: 'FontAwesome';
    padding-right: 20px;
}

#sidebar-wrapper .nav-link-collapse.collapsed:after {
    content: '\f0d7';
}

.navbar-right {
    padding-right: 75px;
}


/* Sidebar Styles Main */

.sidebar-nav0 {
    position: relative;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 85px;
    overflow-y: scroll;
    z-index: -1000;
    height: calc(100% - 166px);
}

.sidebar-nav0>li {
    padding-top: 30px;
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav0 li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav0 li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #92a7b5;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav0>.sidebar-brand {
    height: 85px;
    font-size: 16px;
    line-height: 60px;
    background-color: #92a7b5;
    letter-spacing: 2px;
    padding: 12px;
    padding-left: 70px;
}

.sidebar-nav0>.sidebar-brand a {
    color: #000000;
}

.sidebar-nav0>.sidebar-brand a:hover {
    color: #000000;
    background-color: #92a7b5;
}

#sidebar-wrapper .nav-link-collapse:after {
    float: right;
    content: '\f0d8';
    font-family: 'FontAwesome';
    padding-right: 20px;
}

#sidebar-wrapper .nav-link-collapse.collapsed:after {
    content: '\f0d7';
}

.navbar-right {
    padding-right: 75px;
}


/* Sidebar Styles Bottom*/

.sidebar-nav1 {
    position: absolute;
    bottom: 30px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav1 li {
    font-size: 12px;
    text-indent: 20px;
    line-height: 18px;
}

.sidebar-nav1 li a {
    font-size: 15px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav1 li a:hover {
    text-decoration: underline !important;
    color: #92a7b5 !important;
    cursor: pointer !important;
}

.sidebar-nav1 li a:active,
.sidebar-nav1 li a:focus {
    text-decoration: underline;
}

.sidebar-nav1>.sidebar-brand {
    height: 85px;
    font-size: 18px;
    line-height: 60px;
    background-color: #92a7b5;
    letter-spacing: 2px;
    padding: 12px;
}

.sidebar-nav1>.sidebar-brand a {
    color: #000000;
}

.sidebar-nav1>.sidebar-brand a:hover {
    color: #000000;
    background-color: #92a7b5;
}

.ftr-top {
    padding-top: 20px;
}

.active {
    font-weight: bold;
}

.nav-foot1 {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 15px;
}

#preview {
    text-align: center;
    padding: 30px 15px;
}

#preview .prev-img {
    max-height: 300px;
    width: auto;
}

#preview2 {
    text-align: center;
    padding: 30px 15px;
}

#preview2 .prev-img {
    max-width: 245px;
    height: auto;
    margin: 0 auto;
}

.prev-content {
    min-height: 100px;
    width: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -45%);
    background-color: #fff;
    border-radius: 11px;
}

.prev-img1 {
    width: 40px;
    margin: -20px auto 0;
}

.prev-text1 {
    font-size: 10px;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 5px;
}

.prev-text2 {
    font-size: 8px;
    color: #676767;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-pink {
    font-size: 8px;
    background-color: #ff0083;
    color: #fff;
    margin-bottom: 10px;
    padding: 3px 20px;
}

.success-notification {
    padding: 10px 20px;
    font-size: 20px;
    color: #3c763d;
    border: 2px solid #3c763d;
    border-radius: 4px;
    text-align: left;
}
.failure-notification {
    padding: 10px 20px;
    font-size: 20px;
    color: #a94442;
    border: 2px solid #a94442;
    border-radius: 4px;
    text-align: left;
}

#sorting-controls {
    padding: 15px;
}

label.save-search {
    font-weight: bold;
    cursor: pointer;
    margin: 15px 0px;
}
/* Header Dropdown*/

ul.dropdown-menu.dropdown-menu1 {
    background-color: #f0f1f1 !important;
    border: 1px solid #839bab !important;
    width: 260px !important;
    text-align: right !important;
}
   
.dropdown-menu1:after,
.dropdown-menu1:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-menu1:after {
    border-color: rgba(240, 241, 241, 0);
    border-bottom-color: #f0f1f1;
    border-width: 19px;
    margin-left: 54px;
}

.dropdown-menu1:before {
    border-color: rgba(131, 155, 171, 0);
    border-bottom-color: #839bab;
    border-width: 20px;
    margin-left: 53px;
}
   
.header-main {
    line-height: 1.5;
    margin-top: 10px;
    display: inline-block;
}
   
.header-change {
    margin-top: -60px;
    margin-left: 10px;
    text-align: left;
}
   
.header-change a {
    font-size: 0.7em;
    padding-left: 17px !important;
    color: #999;
    display: inline-block !important;
}
   
.header-change2 {
    display: inline-block;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}
   
.header-change2 a:hover, .header-change2 a:focus {
    background-color: #b0b0b0 !important;
    color: #fff !important;
    border-radius: 3px !important;
}

.establish-panel {
	margin-top: 15px;
	vertical-align: middle;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	color: #737373;
	background-color: rgba(100, 130, 150, 0.5);
	font-weight: bold;
}

.nav-pills>li>a {
	border-radius: 0;
	padding: 5px 10px;
	color: #737373;
}

.estab-content {
	padding-top: 50px;
}

#estab1 label,
#estab2 label,
#estab3 label {
	color: #737373;
	font-weight: normal;
	font-size: 14px;
}

#estab1 input,
#estab2 input,
#estab3 input {
	font-weight: normal;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	padding-left: 0;
	color: #3c3c3c;
}

#estab2 select {
	font-weight: normal;
	box-shadow: none !important;
	outline: none !important;
	border: 0.5px solid #D8D8D8;
	border-radius: 100px;
}

#estab1 textarea {
	font-weight: normal;
	box-shadow: none !important;
	border: 0.5px solid #D8D8D8;
	border-radius: 10px;
}

.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.image-preview-input-title {
	margin-left: 2px;
}

@media screen and (max-width:480px) {
	.nav-pills>li {
		float: none
	}
	.estab-content {
		border-top: 1px solid #e0e0e0;
		padding-top: 35px;
		margin-top: 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-right {
        padding-right: 30px !important;
    }
}

@media screen and (max-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 0;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .sidebar-nav1 {
        display: none;
    }
}


/* Slider CSS */

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}

.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.range.range-primary output {
    background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}

.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}

.range.range-success output {
    background-color: rgb(92, 184, 92);
}

.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}

.range.range-info output {
    background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}

.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}

.range.range-warning output {
    background-color: rgb(240, 173, 78);
}

.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}

.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}

.range.range-danger output {
    background-color: rgb(217, 83, 79);
}

.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}


/* Custom CSS */

@font-face {
    font-family: 'FontAwesome';
    src: local('FontAwesome');
}

body {
    font-family: HelveticaNeue, Arial, sans-serif;
    color: #4C4C4C;
}


/* admin Header */

.header-dash {
    box-shadow: 0 0 10px #c9c9c9;
    height: 84px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background: #FFF;
}

#admin-panel {
    padding-top: 95px;
}

.side-toggle {
    background-color: #92a7b5;
    height: 85px;
    color: #000000;
    text-align: center;
    float: left;
    position: fixed;
    left: 0;
    z-index: 1000;
    padding: 27px 0;
}

.side-toggle a {
    color: #000000;
    padding: 27px 29.5px;
    border-radius: 0;
}

.user-set>ul>li>a {
    height: 85px;
    font-size: 18px;
    padding-top: 32px;
    text-transform: capitalize;
}

.user-set>ul>li>a>ul>li>a {
    font-size: 12px;
    text-transform: capitalize;
}


/* admin default */

.panel-primary {
    box-shadow: 0 0 6px #8cb1ca;
}

.overview-panel {
    margin-top: 5px;
    margin-bottom: -15px;
    padding-bottom: 0;
}

.p-top {
    padding-top: 60px;
}

.panel-heading {
    padding: 10px 35px;
    height: 70px;
}

.panel-body {
    padding: 25px;
}

.panel-primary {
    border-color: #648296;
}

.panel-primary>.panel-heading {
    border-color: #648296;
    background-color: #648296;
}


/* admin overview panel */

.overview-panel-body {
    text-align: right;
}

.overview-h {
    font-size: 14px;
    letter-spacing: 1px;
}

.overview-b {
    font-size: 20px;
    font-weight: normal;
}

.at-venue {
    padding: 15px 0;
}

.at-venue-cap {
    padding-top: 15px;
    font-size: 10px;
    padding-right: 20px;
}

.overview-panel-body1 {
    text-align: right;
}

.overview-h1 {
    font-size: 14px;
    letter-spacing: 1px;
}

.overview-sh1 {
    font-size: 11px;
    color: #858585;
    padding: 5px 0 8px;
    min-height: 45px;
}

.overview-b1 {
    font-size: 20px;
    font-weight: normal;
}

.at-venue {
    padding: 15px 0;
}

.at-venue-cap {
    padding-top: 15px;
    font-size: 10px;
    padding-right: 20px;
}


/* search panel */

.p-top {
    padding-top: 30px;
}

.p-aside {
    padding: 0 20px;
}

.to-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    padding-top: 30px;
}

.image-p:hover .image-c,
.image-p:focus .image-c {
    transform: scale(1.1);
    transition: all .5s;
    opacity: 0.7;
    box-shadow: 0px 0px 10px #999999;
}

.image-p:hover img {
    filter: blur(4px);
  }

.glyphicon:before {
    visibility: visible;
}

.glyphicon.glyphicon-star-empty:checked:before {
    content: "\e006";
}

input[type=checkbox].glyphicon {
    visibility: hidden;
}

.hotel-logo {
    width: 100px;
    height: auto;
}

.hotel-name {
    font-size: 25px;
    display: inline;
    padding-left: 25px;
    font-weight: bold;
    padding-top: 10px;
}

.hotel-visitors {
    font-size: 18px;
    padding-top: 25px;
    letter-spacing: 1px;
    margin-bottom: -25px;
}

.hotel-namec {
    color: #939393;
    font-size: 14px;
    padding: 0 12px 0;
    letter-spacing: 1px;
}

.hotel-compare {
    font-size: 20px;
    padding-top: 25px;
}

.hotel-compare span {
    font-weight: bold;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-view,
.fc-view>table {
    z-index: 0;
}


/* schedule panel */

#schedule2 .form-horizontal .control-label {
    text-align: left !important;
    float: left;
}

#schedule2 .p-text {
    padding-bottom: 7px;
}


/* Past Promotions panel */

#promo-panel {
    margin-top: 120px;
}

.promo-sort {
    position: relative;
    padding: 6px 0;
    font-weight: bold;
    font-size: 15px;
}

.promo-h {
    font-size: 14px;
}

.promo-b {
    font-size: 9px;
    color: #929292;
    padding-top: 6px;
    padding-bottom: 18px;
}

.promo-h1 {
    font-size: 14px;
    color: #696969;
    letter-spacing: 1px;
}

.promo-b1 {
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 18px;
    color: #3c3c3c;
}


/* Email Upload panel */

.email-promo {
    padding: 100px 40px 80px;
    text-align: left;
}

.email-promo1 {
    padding: 50px 0 80px;
}

#emailupload-2 .table td:first-child {
    text-align: left;
}

#emailupload-2 .table td {
    font-size: 12px;
}

#chartdiv,
#age-range-pie-chart,
#gender-pie-chart {
    width: 100%;
    height: 500px;
}

.graphContainer {
    margin-top: 10px;
}

@media screen and (max-width: 991px) {
    .navbar-right {
        padding-right: 15px;
    }
    .navbar-right>li>a {
        padding: 15px 20px 0;
    }
    .navbar-brand {
        padding-left: 20px;
    }
    .p-aside {
        padding: 0 15px;
    }
    .hotel-logo {
        width: 75px;
        height: auto;
    }
    .hotel-name {
        font-size: 15px;
        display: inline;
        padding-left: 10px;
    }
    .email-promo {
        padding: 50px 20px;
        text-align: left;
    }
    .over-pad{
        padding-top: 35px;
    }
}

@media screen and (max-width: 768px) {
    .user-set>ul>li>a {
        font-size: 18px;
        padding-top: 32px;
        text-transform: capitalize;
        margin-top: 0px;
        float: right;
        height: 85px;
        line-height: 58px;
    }
    .navbar-nav {
        margin-top: 0;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: right;
        background-color: #fff;
        border: 1px solid #b4b4b4;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        right: 20px;
        left: auto;
        top: 84px;
    }
    .user-set .dropdown-menu {
        text-align: right;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .side-toggle {
        width: 85px;
        background-color: #92a7b5;
        color: #000000;
        text-align: center;
        float: none;
    }
    .panel-heading {
        padding: 10px 15px;
        height: auto;
    }
    .panel-body {
        padding: 10px 15px;
    }
}

@media (max-width: 575px) {
    .overview-h {
        font-size: 10px;
    }
    .overview-b {
        font-size: 14px;
        font-weight: normal;
    }
    .overview-h1 {
        font-size: 10px;
    }
    .overview-sh1 {
        font-size: 9px;
    }
    .overview-b1 {
        font-size: 14px;
        font-weight: normal;
    }
    .over-pad {
        padding-top: 30px;
    }
}

@-moz-document url-prefix() {
    input[type=checkbox].glyphicon {
        visibility: visible;
    }
}