@charset "utf-8";

/* Custom CSS */

@font-face {
    font-family: 'FontAwesome';
    src: local('FontAwesome');
}

body {
    font-family: HelveticaNeue, Arial, sans-serif;
    color: #4C4C4C;
    padding: 0 !important;
}

a:hover {
    text-decoration: underline !important;
}


/* Home Page Header */

#header {
    padding-top: 15px;
    margin-bottom: -5px;
}

#header .navbar {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-right {
    padding-right: 75px;
}

.navbar-right>li>a {
    color: #4c4c4c;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 25px;
}

.navbar-brand {
    color: #4c4c4c;
    padding-left: 85px;
    font-size: 20px;
}

.navbar-toggle span {
    color: #4c4c4c;
    background-color: #4c4c4c;
}

.navbar-default {
    background: none;
    border: none;
}


/* Home Page Banner */

#banner h2 {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

#banner button {
    position: absolute;
    top: 550px;
    left: 46%;
    background-color: #648296;
    font-size: 18px;
    padding: 15px 18px;
    color: #ffffff;
    text-align: center;
}


/* Home Page About Us */

#about {
    background-color: #f7f9fa;
}

.lp-pad {
    padding: 90px 15px 100px;
    margin-left: 0;
    margin-right: 0;
}

.lp-head {
    font-size: 45px;
    color: #4C4C4C;
    font-weight: bold;
    text-align: right;
}

.lp-head1 {
    border-bottom: 2px solid #648296;
    margin-left: 33px;
    margin-top: 35px;
}

.lp-text1 {
    font-size: 14px;
    line-height: 18px;
    color: #4C4C4C;
    text-align: left;
    padding-left: 33px;
}


/* Home Page How it works */

#howitworks .hiw-img {
    margin-bottom: 40px;
    margin-top: 55px;
    height: 117px;
    vertical-align: middle;
}

.lp-arrow {
    padding-top: 180px;
    text-align: right;
    padding-right: 65px;
}

.lp-text2 {
    font-size: 14px;
    line-height: 18px;
    color: #4C4C4C;
    text-align: center;
}


/* Home Page Pricing */

#pricing {
    background-color: #f7f9fa;
}

#pricing .price-box {
    background-color: #ffffff;
    margin-top: 75px;
    padding: 12px 15px 50px;
}

.lp-text3 {
    font-size: 14px;
    line-height: 18px;
    color: #4C4C4C;
    text-align: left;
    padding-bottom: 40px;
}

.lp-text3 span {
    font-size: 10px;
}

.lp-text4 {
    font-size: 45px;
    line-height: 48px;
    color: #4C4C4C;
    text-align: center;
    padding-bottom: 50px;
}

.lp-text4 span {
    font-size: 14px;
    line-height: 15px;
}

.lp-text5 {
    font-size: 14px;
    padding-bottom: 22px;
}

.lp-text6 {
    font-size: 14px;
    padding-top: 45px;
}

.lp-text6 a {
    color: #4C4C4C;
    text-decoration: none;
}


/* Home Page Footer */

#footer {
    background-color: #3d3d3d;
    padding: 50px 15px;
    text-align: center;
}

.ftr-text1 {
    font-size: 14px;
    line-height: 25px;
    padding-top: 10px;
    color: #ffffff;
}

.ftr-text1 a {
    color: #ffffff;
    text-decoration: none !important;
}

.ftr-text2 {
    font-size: 10px;
    padding-bottom: 20px;
    padding-top: 40px;
    color: #B1B1B1;
}


/* Home Page Sign-in */
.modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    width: 100%;
  }

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left: 0;
    margin-right: 0;
}
#signin h3 {
    padding: 40px 0;
}

#signin .form-group {
    margin-bottom: 30px;
}

#signin .btn-default {
    background-color: #648296;
    border: #648296;
    color: #ffffff;
    padding: 12px 40px;
    margin-left: -12px;
}

#signin .row1 {
    padding: 60px 0;
}

#signin .form-control {
    padding: 10px 16px;
    font-size: 12px;
    color: #000000;
}

#signin a {
    color: #648296;
    text-decoration: none !important;
}


/* Home Page Sign-up 1 */

#signup #step1 h3 {
    padding: 50px 0;
}

#signup #step1 p {
    padding-bottom: 25px;
}

#signup #step1 .form-group {
    margin-bottom: 30px;
}

#signup #step1 .btn-default {
    background-color: #648296;
    border: #648296;
    color: #ffffff;
    padding: 15px 40px;
}

#signup #step1 .form-control {
    padding: 10px 16px;
    font-size: 12px;
    color: #000000;
}

#signup #step1 form {
    padding-bottom: 100px;
}


/* Home Page Sign-up 2 */

#signup #step2 .label1 {
    color: #7b7b7b;
    font-size: 10px;
    line-height: 20px;
}

#signup #step2 .data1 {
    font-size: 13px;
    line-height: 20px;
}

#signup #step2 .row2 {
    padding: 100px 0;
}

#signup #step2 .row3 {
    padding-top: 75px;
}

#signup #step2 .form-control {
    font-size: 13px;
    line-height: 20px;
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    box-shadow: none;
    height: auto;
}

#signup #step2 .row3 label {
    color: #676767;
    font-size: 12px;
}

#signup #step2 .btn-default {
    background-color: #648296;
    border: #648296;
    color: #ffffff;
    padding: 18px 35px;
    margin-top: 12px;
}

#signup #step2 a {
    color: #648296;
    text-decoration: none !important;
}

.mod-close {
    position: absolute;
    right: 15px;
    top: 10px;
}

.modal-open {
    overflow: scroll;
}

@media screen and (max-width: 991px){
    .navbar-right {
        padding-right: 0 !important;
    }
}

@media (max-width: 767px) {
    #header{
        padding-top: 0;
    }
    .navbar-right>li>a {
        color: #4c4c4c;
        font-size: 12px;
        text-transform: uppercase;
        padding: 10px 30px !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 15px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 100;
    }
    #header .navbar {
        padding-bottom: 0;
    }
    .navbar-nav {
        margin: 0px -15px;
    }
    .navbar-right {
        padding-right: 0;
    }
    .navbar-default .navbar-nav>li>a {
        border-bottom: 1px solid #e0e0e0;
    }
    .lp-pad {
        padding: 40px 15px;
    }
    .lp-head {
        font-size: 40px;
        color: #4C4C4C;
        font-weight: bold;
        text-align: center;
    }
    .lp-head1 {
        border-bottom: 2px solid #648296;
        margin: 5px 50px 20px;
    }
    .lp-text1 {
        font-size: 14px;
        color: #4C4C4C;
        text-align: left;
        padding: 0 30px;
    }
    .lp-arrow {
        display: none;
    }
    #pricing .price-box {
        margin-top: 40px;
    }
    #footer {
        padding: 40px 15px;
    }
    #signin h3,
    #signup #step1 h3 {
        padding: 40px 0;
    }
    #signin .row1 {
        padding: 40px 0;
    }
    #signup #step2 .row2 {
        padding: 0 0 30px;
    }
    #signup #step1 form {
        padding-bottom: 40px;
    }
    #signup #step2 .row3 {
        padding-top: 25px;
    }
    #signup #step2 .label1 {
        color: #7b7b7b;
        font-size: 10px;
        line-height: 20px;
        padding-top: 20px;
        margin-bottom: 3px;
    }
}

@media (max-width: 575px) {
    #banner h2 {
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		font-size: 15px;
		color: #ffffff;
		text-align: center;
	}
	#banner button {
		position: absolute;
		top: 170px;
		left: 40%;
		background-color: #648296;
		font-size: 10px;
		padding: 10px 12px;
		color: #ffffff;
		text-align: center;
	}
    #header .navbar-brand {
        padding-left: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #banner h2 {
		position: absolute;
		top: 140px;
		left: 0;
		width: 100%;
		font-size: 25px;
		color: #ffffff;
		text-align: center;
	}
	#banner button {
		position: absolute;
		top: 250px;
		left: 40%;
		background-color: #648296;
		font-size: 16px;
		padding: 10px 15px;
		color: #ffffff;
		text-align: center;
	}
    #header .navbar-brand {
        padding-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #banner h2 {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        font-size: 25px;
        color: #ffffff;
        text-align: center;
    }
    #banner button {
        position: absolute;
        top: 320px;
        left: 42%;
        background-color: #648296;
        font-size: 16px;
        padding: 10px 15px;
        color: #ffffff;
        text-align: center;
    }
    #header .navbar-brand {
        padding-left: 35px;
    }
    .lp-arrow {
        padding-top: 125px;
        text-align: right;
        padding-right: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #banner h2 {
        position: absolute;
        top: 240px;
        left: 0;
        width: 100%;
        font-size: 35px;
        color: #ffffff;
        text-align: center;
    }
    #banner button {
        position: absolute;
        top: 390px;
        left: 42%;
        background-color: #648296;
        font-size: 16px;
        padding: 10px 15px;
        color: #ffffff;
        text-align: center;
    }
    .lp-head {
        font-size: 40px;
    }
    .lp-head1 {
        margin-left: 20px;
    }
    .lp-text1 {
        padding-left: 20px;
    }
}