<div class="admin-body">
    <div id="wrapper">
        <div class="login-box">
            <h3>HeatCity Places ADMIN</h3>

            <div *ngIf="loginError !== ''" class="alert alert-danger">
                {{loginError}}
            </div>

            <form #loginForm="ngForm" (ngSubmit)="doLogin()">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required [(ngModel)]="loginModel.username" #username="ngModel">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required [(ngModel)]="loginModel.password" #password="ngModel">
                </div>

                <button type="submit" class="btn admin-login" [disabled]="!loginForm.form.valid">LOGIN</button>
            </form>
        </div>
    </div>
</div>