<!-- Header -->
<div class="header-admin">
    <div class="admin-set">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="javascript:void(0)">
                    Admin <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a routerLink="/admin/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="doLogout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /Header -->

<router-outlet></router-outlet>

<!-- Footer -->
<!-- /Footer -->