<div id="page-content-wrapper" class="admin-content-wrapper">
    <div class="container admin-create" id="admin-panel">
        <div class="row">
            <div class="col-lg-12 p-top">
                <div class="admin-panel">
                    <div class="admin-pbody">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>
                                    <a routerLink="/admin/establishment/create">Create new account</a>
                                </h3>
                            </div>
                        </div>

                        <!-- Search Establishment -->
                        <admin-search-establishment></admin-search-establishment>
                        <!-- /Search Establishment -->

                        <!-- Establishments List -->
                        <div *ngFor="let establishment of establishmentsData" class="row row-top1 border-bottom">
                            <div class="col-sm-10">
                                <a [routerLink]="['/admin/establishment', establishment.id]">
                                    <p class="sdata1">{{establishment.name}}</p>
                                    <p class="sdata2">{{establishment.address}}</p>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a [routerLink]="['/admin/establishment/update', establishment.id]" class="btn btn-primary">
                                    Update
                                </a>
                            </div>
                        </div>
                        <!-- /Establishments List -->

                        <!-- Notification message -->
                        <div *ngIf="notificationMessage != ''" class="row">
                            <div class="col-sm-12 text-center">
                                <p><strong>{{notificationMessage}}</strong></p>
                            </div>
                        </div>
                        <!-- /Notification message -->

                        <!-- Load More button -->
                        <div *ngIf="showLoadMore" class="row row-top1" align="center">
                            <button class="btn btn-primary" type="button" (click)="loadMore()">Load More</button>
                        </div>
                        <!-- /Load More button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>