<div id="page-content-wrapper" class="admin-content-wrapper">
    <div class="container" id="admin-panel">
        <div class="row">
            <div class="col-lg-12 p-top">
                <div class="admin-panel">
                    <div class="admin-phead">Create Establishment</div>

                    <div class="admin-pbody">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav nav-pills admin-pills">
                                    <li [class.active]="activeTab === 'general-details'">
                                        <a href="javascript:void(0)" (click)="setTab('general-details')">General Details</a>
                                    </li>
                                    <li [class.active]="activeTab === 'hours-of-operation'">
                                        <a href="javascript:void(0)" (click)="setTab('hours-of-operation')">Hours of Operation</a>
                                    </li>
                                    <li [class.active]="activeTab === 'admin-info'">
                                        <a href="javascript:void(0)" (click)="setTab('admin-info')">Admin Info</a>
                                    </li>
                                    <li [class.active]="activeTab === 'heatcity'">
                                        <a href="javascript:void(0)" (click)="setTab('heatcity')">HeatCity</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="estab-content">

                                    <form #createEstbForm="ngForm" (ngSubmit)="createEstablishment()" class="form-horizontal">
                                        <!-- General Details -->
                                        <div [hidden]="activeTab !== 'general-details'">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="name">Establishment Name</label>

                                                <div class="col-sm-5">
                                                    <input 
                                                    type="text"
                                                    class="form-control"
                                                    id="name"
                                                    name="name"
                                                    required
                                                    [(ngModel)]="establishment.name"
                                                    #name="ngModel">

                                                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="name.errors.required">
                                                            Name is required.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="address">Address</label>

                                                <div class="col-sm-5">
                                                    <input 
                                                    type="text"
                                                    class="form-control"
                                                    id="address"
                                                    name="address"
                                                    required
                                                    [(ngModel)]="establishment.address"
                                                    #address="ngModel">

                                                    <div *ngIf="address.invalid && (address.dirty || address.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="address.errors.required">
                                                            Address is required.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="phoneNumber">Number</label>

                                                <div class="col-sm-5">
                                                    <input 
                                                    type="number"
                                                    class="form-control"
                                                    id="phoneNumber"
                                                    name="phoneNumber"
                                                    required
                                                    [(ngModel)]="bizAccount.phoneNumber"
                                                    #phoneNumber="ngModel">

                                                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="phoneNumber.errors.required">
                                                            Phone number is required.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="email">E-mail</label>

                                                <div class="col-sm-5">
                                                    <input 
                                                    type="text"
                                                    class="form-control"
                                                    id="email" 
                                                    name="email"
                                                    required
                                                    email
                                                    [(ngModel)]="bizAccount.email"
                                                    #email="ngModel">

                                                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="email.errors.required">
                                                            Email is required.
                                                        </ng-container>
                                                        <ng-container *ngIf="!email.errors.required && email.errors.email">
                                                            Invalid email address.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="url">Website</label>

                                                <div class="col-sm-5">
                                                    <input 
                                                    type="url"
                                                    class="form-control"
                                                    id="url" 
                                                    name="url"
                                                    [(ngModel)]="establishment.url"
                                                    #url="ngModel">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="capacity">Maximum Capacity</label>

                                                <div class="col-sm-5">
                                                    <input 
                                                    type="number"
                                                    class="form-control"
                                                    id="capacity" 
                                                    name="capacity"
                                                    required
                                                    [(ngModel)]="establishment.capacity"
                                                    #capacity="ngModel">

                                                    <div *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="capacity.errors.required">
                                                            Maximum capacity is required.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="pricing">Price Range</label>

                                                <div class="col-sm-5">
                                                    <input 
                                                    type="number"
                                                    class="form-control"
                                                    id="pricing"
                                                    name="pricing"
                                                    required
                                                    [(ngModel)]="establishment.pricing"
                                                    #pricing="ngModel">

                                                    <div *ngIf="pricing.invalid && (pricing.dirty || pricing.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="pricing.errors.required">
                                                            Price range is required.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="description">Description</label>

                                                <div class="col-sm-5">
                                                    <textarea 
                                                    class="form-control"
                                                    placeholder="150 characters max.."
                                                    rows="4"
                                                    id="description"
                                                    name="description"
                                                    maxlength="150"
                                                    [(ngModel)]="establishment.description"
                                                    #description="ngModel"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Establishment Status</label>

                                                <div class="col-sm-5">
                                                    <select
                                                    class="form-control"
                                                    id="hcActive"
                                                    name="hcActive"
                                                    [(ngModel)]="establishment.hcActive"
                                                    #hcActive="ngModel">
                                                        <option value="1">Active</option>
                                                        <option value="0">Inactive/Blocked</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Business Account Status</label>

                                                <div class="col-sm-5">
                                                    <select
                                                    class="form-control"
                                                    id="bizHcActive"
                                                    name="bizHcActive"
                                                    [(ngModel)]="bizAccount.hcActive"
                                                    #bizHcActive="ngModel">
                                                        <option value="0">Inactive/Block</option>
                                                        <option value="1">Approval Pending</option>
                                                        <option value="2">Active</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <button type="button" (click)="setTab('hours-of-operation')" class="btn admin-next">Next</button>
                                        </div>
                                        <!-- /General Details -->

                                        <!-- Hours of Operation -->
                                        <div [hidden]="activeTab !== 'hours-of-operation'" id="estab2">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-xs-12">Monday</label>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="monStartTime"
                                                    [(ngModel)]="establishment.operatesAt.mon.startTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="monEndTime"
                                                    [(ngModel)]="establishment.operatesAt.mon.endTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-xs-12">Tuesday</label>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="tueStartTime"
                                                    [(ngModel)]="establishment.operatesAt.tue.startTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="tueEndTime"
                                                    [(ngModel)]="establishment.operatesAt.tue.endTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-xs-12">Wednesday</label>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="wedStartTime"
                                                    [(ngModel)]="establishment.operatesAt.wed.startTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="wedEndTime"
                                                    [(ngModel)]="establishment.operatesAt.wed.endTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-xs-12">Thursday</label>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="thuStartTime"
                                                    [(ngModel)]="establishment.operatesAt.thu.startTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="thuEndTime"
                                                    [(ngModel)]="establishment.operatesAt.thu.endTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-xs-12">Friday</label>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="friStartTime"
                                                    [(ngModel)]="establishment.operatesAt.fri.startTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="friEndTime"
                                                    [(ngModel)]="establishment.operatesAt.fri.endTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-xs-12">Saturday</label>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="satStartTime"
                                                    [(ngModel)]="establishment.operatesAt.sat.startTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="satEndTime"
                                                    [(ngModel)]="establishment.operatesAt.sat.endTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-xs-12">Sunday</label>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="sunStartTime"
                                                    [(ngModel)]="establishment.operatesAt.sun.startTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 col-xs-6">
                                                    <select 
                                                    class="form-control"
                                                    name="sunEndTime"
                                                    [(ngModel)]="establishment.operatesAt.sun.endTime">
                                                        <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{timeOption}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <button type="button" (click)="setTab('admin-info')" class="btn admin-next">Next</button>
                                        </div>
                                        <!-- /Hours of Operation -->

                                        <!-- Admin Info -->
                                        <div [hidden]="activeTab !== 'admin-info'">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="accountEmail">E-mail</label>

                                                <div class="col-sm-5">
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="accountEmail"
                                                    name="accountEmail"
                                                    required
                                                    email
                                                    [(ngModel)]="account.email"
                                                    #accountEmail="ngModel">

                                                    <div *ngIf="accountEmail.invalid && (accountEmail.dirty || accountEmail.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="accountEmail.errors.required">
                                                            Email is required.
                                                        </ng-container>
                                                        <ng-container *ngIf="!accountEmail.errors.required && accountEmail.errors.email">
                                                            Invalid email address.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="accountPhoneNumber">Phone Number</label>

                                                <div class="col-sm-5">
                                                    <input
                                                    type="number"
                                                    class="form-control"
                                                    id="accountPhoneNumber"
                                                    name="accountPhoneNumber"
                                                    required
                                                    [(ngModel)]="account.phoneNumber"
                                                    #accountPhoneNumber="ngModel">

                                                    <div *ngIf="accountPhoneNumber.invalid && (accountPhoneNumber.dirty || accountPhoneNumber.touched)"
                                                    class="alert alert-danger">
                                                        <ng-container *ngIf="accountPhoneNumber.errors.required">
                                                            Phone number is required.
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="button" (click)="setTab('heatcity')" class="btn admin-next">Next</button>
                                        </div>
                                        <!-- /Admin Info -->

                                        <!-- HeatCity -->
                                        <div [hidden]="activeTab !== 'heatcity'">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="hcCategory">HeatCity Category</label>

                                                <div class="col-sm-5">
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="hcCategory"
                                                    name="hcCategory"
                                                    [(ngModel)]="establishment.hcCategory"
                                                    #hcCategory="ngModel">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="hcCategoriesCSV">HeatCity Categories</label>

                                                <div class="col-sm-5">
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="hcCategoriesCSV"
                                                    name="hcCategoriesCSV"
                                                    [(ngModel)]="establishment.hcCategoriesCSV"
                                                    #hcCategoriesCSV="ngModel">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="hcRating">HeatCity Ranking</label>

                                                <div class="col-sm-5">
                                                    <input
                                                    type="number"
                                                    class="form-control"
                                                    id="hcRating"
                                                    name="hcRating"
                                                    [(ngModel)]="establishment.hcRating"
                                                    #hcRating="ngModel">
                                                </div>
                                            </div>

                                            <button type="submit" class="btn  admin-next" [disabled]="!createEstbForm.form.valid">Submit</button>
                                        </div>
                                        <!-- /HeatCity -->
                                    </form>

                                </div>
                            </div>

                            <!-- Notifications -->
                            <div *ngIf="submitted && (notificationMessage !== '')" class="col-sm-12" style="margin-top: 25px">
                                <p *ngIf="establishmentCreated" class="success-notification">
                                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;{{notificationMessage}}
                                </p>

                                <p *ngIf="!establishmentCreated" class="failure-notification">
                                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;{{notificationMessage}}
                                </p>

                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" (click)="gotoCreateEstablishment();">Create Another Establishment</button>
    
                                    <button type="button" class="btn btn-primary" (click)="gotoBrowseEstablishment();">Browse Establishments</button>
                                </div>
                            </div>
                            <!-- /Notifications -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>