<div class="row row-top">
    <div class="col-sm-10 col-sm-offset-1">
        <!-- Search form -->
        <form>
            <div class="input-group">
                <input #searchBox (keyup)="search(searchBox.value)" type="text" placeholder="Search" class="form-control"
                />
                <span class="input-group-addon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </form>
        <!-- /Search form -->

        <!-- Search suggestions -->
        <div class="search-suggestions">
            <div *ngFor="let establishment of establishments | async" (click)="gotoDetail(establishment.id)" class="search-result">
                {{establishment.name}}
            </div>
        </div>
        <!-- /Search suggestions -->
    </div>
</div>