<div>
    <!-- Header -->
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

                    <a class="navbar-brand" routerLink="/">
                        HeatCity <span style="font-weight:bold; color:#648296;">Places</span>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#header" class="smooth-scroll">HOME</a>
                        </li>
                        <li>
                            <a href="#about" class="smooth-scroll">ABOUT US</a>
                        </li>
                        <li>
                            <a href="#howitworks" class="smooth-scroll">HOW IT WORKS</a>
                        </li>
                        <li>
                            <a href="#footer" class="smooth-scroll">CONTACT</a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#signin" href="#">SIGN IN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <router-outlet></router-outlet>

    <!-- Footer -->
    <div id="footer" align="center">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-4 ftr-text1">
                    <strong>Get Support</strong><br>
                    <a href="mailto:support@heatcity.io">
                        support@heatcity.io
                    </a>
                </div>
                <div class="col-sm-2 ftr-text1">
                    <strong>Contact Us</strong><br>
                    <a href="mailto:contact@heatcity.io">
                        contact@heatcity.io
                    </a>
                </div>
                <div class="col-sm-12 ftr-text2">
                    Copyright 2017 Poplr Inc. All Rights Reserved
                </div>
                <div class="col-sm-12">
                    <img src="assets/imgs/footer-img.png" width="32" height="30" alt="HeatCity Places">
                </div>
            </div>
        </div>
    </div>
</div>