<!-- Banner -->
<div id="banner">
    <img src="assets/imgs/home-banner.png" alt="HeatCity Places" class="img-responsive" />
    <h2>A cheesy slogan about how this will better your company</h2>
    <div>
        <button type="button" class="btn btn1">GET STARTED</button>
    </div>
</div>

<!-- About Us -->
<div id="about" align="center">
    <div class="container lp-pad">
        <div class="row">
            <div class="col-sm-4 lp-head">About us</div>
            <div class="col-sm-1 lp-head1"></div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-xs-12 col-sm-offset-4 lp-text1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </div>
        </div>
    </div>
</div>

<!-- How It Works -->
<div id="howitworks" align="center">
    <div class="container lp-pad">
        <div class="row">
            <div class="col-sm-4 lp-head">How it works</div>
            <div class="col-sm-1 lp-head1"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-3 col-sm-offset-1 lp-text2 no-gutters">
                <div class="hiw-img">
                    <img src="assets/imgs/mobile.png" width="57" height="117" alt="Mobile">
                </div>
                <strong>HEATCITY</strong><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="col-sm-3 lp-arrow no-gutters">
                <img src="assets/imgs/right-arrow.png" width="49" height="22" alt="Right Arrow">
            </div>
            <div class="col-sm-3 col-sm-offset-1 lp-text2 no-gutters">
                <div class="hiw-img">
                    <img src="assets/imgs/pie-chart.png" width="106" height="104" alt="Pie Chart">
                </div>
                <strong>DATA AT YOUR FINGERTIPS</strong><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>

<!-- Pricing Plans -->
<div id="pricing" align="center">
    <div class="container lp-pad">
        <div class="row">
            <div class="col-sm-4 lp-head">Pricing Plans</div>
            <div class="col-sm-1 lp-head1"></div>
        </div>
        <div class="row price-boxes">
            <div class="col-sm-4">
                <div class="price-box">
                    <div class="lp-text3">
                        Basic<br>
                        <span>Recommended for small businesses</span>
                    </div>
                    <div class="lp-text4">$100<span>/mo</span></div>
                    <div class="lp-text5">Data you will be receiving 1</div>
                    <div class="lp-text5">Data you will be receiving 2</div>
                    <div class="lp-text5">Data you will be receiving 3</div>
                    <div class="lp-text5">Data you will be receiving 4</div>
                    <div class="lp-text5">Data you will be receiving 5</div>
                    <div class="lp-text6">
                        <a href="javascript:void(0);">CHOOSE PLAN</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="price-box">
                    <div class="lp-text3">
                        Starter<br>
                        <span>Recommended for growing businesses</span>
                    </div>
                    <div class="lp-text4">$150<span>/mo</span></div>
                    <div class="lp-text5">Data you will be receiving 1</div>
                    <div class="lp-text5">Data you will be receiving 2</div>
                    <div class="lp-text5">Data you will be receiving 3</div>
                    <div class="lp-text5">Data you will be receiving 4</div>
                    <div class="lp-text5">Data you will be receiving 5</div>
                    <div class="lp-text6">
                        <a href="javascript:void(0);">CHOOSE PLAN</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="price-box">
                    <div class="lp-text3">
                        Professional<br>
                        <span>Recommended for big businesses</span>
                    </div>
                    <div class="lp-text4">$200<span>/mo</span></div>
                    <div class="lp-text5">Data you will be receiving 1</div>
                    <div class="lp-text5">Data you will be receiving 2</div>
                    <div class="lp-text5">Data you will be receiving 3</div>
                    <div class="lp-text5">Data you will be receiving 4</div>
                    <div class="lp-text5">Data you will be receiving 5</div>
                    <div class="lp-text6">
                        <a href="javascript:void(0);">CHOOSE PLAN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Business Account Signin modal -->
<signin></signin>
<!-- /Business Account Signin modal -->

<!-- Business Account Signup modal -->
<signup></signup>
<!-- /Business Account Signup modal -->