<!-- Signup Modal -->
<div id="signup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <!-- Step-1: Verify establishment -->
                <div [hidden]="step !== 1" id="step1">
                    <div class="row">
                        <h3 class="modal-title" align="center">Get Started</h3>
                        <button type="button" class="close mod-close" data-dismiss="modal">&times;</button>
                        <div class="col-sm-6 col-sm-offset-3" align="center">
                            <p>Type in the name of your establishment and we will verify your business.</p>
                            <form #verifyEstablishmentForm="ngForm" (ngSubmit)="verifyEstablishment()">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" required [(ngModel)]="establishment.name" name="name" #name="ngModel" placeholder="Establishment Name">

                                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                        Business Name is required.
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-default" [disabled]="!verifyEstablishmentForm.form.valid">NEXT</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Step-2: Business Account Sign-up -->
                <div [hidden]="step !== 2" id="step2">
                    <div class="row row2">
                        <button type="button" class="close mod-close" data-dismiss="modal">&times;</button>

                        <div class="col-sm-8 col-sm-offset-2" align="center">
                            <form #signupForm="ngForm" (ngSubmit)="doSignup(signupForm)">
                                <div class="row no-gutter">
                                    <div class="col-sm-4" align="left">
                                        <p class="label1">Business Name</p>
                                    </div>
                                    <div class="col-sm-8" align="left">
                                        <input type="text" class="form-control" id="name" required [(ngModel)]="establishment.name" name="name" #name="ngModel">

                                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                            class="alert alert-danger">
                                            <ng-container *ngIf="name.errors.required">
                                                Business Name is required.
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-gutter">
                                    <div class="col-sm-4 no-gutter" align="left">
                                        <p class="label1">Address</p>
                                    </div>
                                    <div class="col-sm-8 no-gutter" align="left">
                                        <input type="text" class="form-control" id="address" required [(ngModel)]="establishment.address" name="address" #address="ngModel">

                                        <div *ngIf="address.invalid && (address.dirty || address.touched)"
                                            class="alert alert-danger">
                                            <ng-container *ngIf="address.errors.required">
                                                Address is required.
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-gutter">
                                    <div class="col-sm-4 no-gutter" align="left">
                                        <p class="label1">Email</p>
                                    </div>
                                    <div class="col-sm-8 no-gutter" align="left">
                                        <input type="text" class="form-control" id="email" required email [(ngModel)]="businessAccount.email" name="email" #email="ngModel">

                                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                        class="alert alert-danger">
                                            <ng-container *ngIf="email.errors.required">
                                                Email is required.
                                            </ng-container>
                                            <ng-container *ngIf="!email.errors.required && email.errors.email">
                                                Invalid email address.
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-gutter">
                                    <div class="col-sm-4 no-gutter" align="left">
                                        <p class="label1">Phone Number</p>
                                    </div>
                                    <div class="col-sm-8 no-gutter" align="left">
                                        <input type="number" class="form-control" id="phoneNumber" required [(ngModel)]="businessAccount.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">

                                        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                                        class="alert alert-danger">
                                            <ng-container *ngIf="phoneNumber.errors.required">
                                                Phone number is required.
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row3">
                                    <div class="col-sm-8 no-gutter" align="left">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="infoAccurate" name="infoAccurate" required [(ngModel)]="businessAccount.infoAccurate" #infoAccurate="ngModel">By checking this box I agree that the above information is accurate
                                            </label>

                                            <div *ngIf="infoAccurate.invalid && (infoAccurate.dirty || infoAccurate.touched)"
                                            class="alert alert-danger">
                                                <ng-container *ngIf="infoAccurate.errors.required">
                                                    Please confirm that the provided information is accurate.
                                                </ng-container>
                                            </div>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="agreeServiceTerms" name="agreeServiceTerms" required [(ngModel)]="businessAccount.agreeServiceTerms" #agreeServiceTerms="ngModel">By checking this box I agree to the <a href="javascript:void(0)">Terms of Service</a>
                                            </label>

                                            <div *ngIf="agreeServiceTerms.invalid && (agreeServiceTerms.dirty || agreeServiceTerms.touched)"
                                            class="alert alert-danger">
                                                <ng-container *ngIf="agreeServiceTerms.errors.required">
                                                    Please confirm that you agree to the terms of service.
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 no-gutter" align="left">
                                        <button type="submit" class="btn btn-default" [disabled]="!signupForm.form.valid">SIGN UP</button>
                                    </div>
                                </div>

                                <div *ngIf="signupErrorMsg != ''" class="alert alert-danger">
                                    {{signupErrorMsg}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Notification on successful sign-up -->
                <div [hidden]="step !== 3">
                    <div class="row">
                        <button type="button" class="close mod-close" data-dismiss="modal">&times;</button>
                        <div class="col-sm-10 col-sm-offset-1" align="center">
                            <h4>Your request for signup is on its way. We will contact you to verify your business &amp; then approve your account.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1" align="center">
                            <button class="btn btn-default" (click)="backToSignup()">CREATE ANOTHER ACCOUNT</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Signup Modal -->