<!-- Sign in modal -->
<div id="signin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h3 class="modal-title" align="center">Welcome Back</h3>

                    <button type="button" class="close mod-close" data-dismiss="modal">&times;</button>

                    <div class="col-sm-6 col-sm-offset-3" align="center">
                        <div *ngIf="signinError !== ''" class="alert alert-danger">
                            {{signinError}}
                        </div>

                        <form #signinForm="ngForm" (ngSubmit)="doSignin()">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required [(ngModel)]="loginModel.email" #email="ngModel">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required [(ngModel)]="loginModel.password" #password="ngModel">
                            </div>

                            <div class="row no-gutter">
                                <div class="col-xs-6" align="left">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6" align="right">
                                    <button type="submit" class="btn btn-default" [disabled]="!signinForm.form.valid">SIGN IN</button>
                                </div>
                            </div>

                            <div class="row no-gutter row1">
                                <div class="col-xs-6" align="left">
                                    <a data-toggle="modal" data-target="#signup" href="#" data-dismiss="modal" class="no-link">Create an Account</a>
                                </div>
                                <div class="col-xs-6" align="right">
                                    <a href="#" class="no-link">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sign in modal -->