<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">{{title}}</h3>
            <p class="text-center">The page you are looking for is not found.</p>
        </div>
    </div>
</div>