<div class="container-fluid" id="admin-panel">
    <div class="row">
        <!-- Statistics -->
        <div class="col-lg-8 col-lg-offset-2 p-top">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="overview-panel">OVERVIEW</h4>
                    <br> Average time spent at venue
                </div>
                <div class="panel-body overview-panel-body1">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="overview-h1">
                            TODAY
                        </div>
                        <div class="overview-sh1">
                            {{ today }}
                        </div>
                        <div class="overview-b1">
                            {{ todayTimeSpent }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="overview-h1">
                            THIS WEEK
                        </div>
                        <div class="overview-sh1">
                            {{ thisWeek }}
                        </div>
                        <div class="overview-b1">
                            {{ thisWeekTimeSpent }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 over-pad">
                        <div class="overview-h1">
                            THIS MONTH
                        </div>
                        <div class="overview-sh1">
                            {{ thisMonth }}
                        </div>
                        <div class="overview-b1">
                            {{ thisMonthTimeSpent }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 over-pad">
                        <div class="overview-h1">
                            THIS YEAR
                        </div>
                        <div class="overview-sh1">
                            {{ thisYear }}
                        </div>
                        <div class="overview-b1">
                            {{ thisYearTimeSpent }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Graph -->
        <div class="col-lg-8 col-lg-offset-2 p-top">
            <div class="panel panel-primary">
                <div class="panel-body overview-panel-body1">
                    <form class="form-inline" #graphForm="ngForm" (ngSubmit)="renderGraph()">
                        <div class="form-group">
                            <label for="startDate">Start Date</label>

                            <input type="date" name="startDate" class="form-control" required [(ngModel)]="dateRange.startDate"
                            #startDate="ngModel">

                            <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger">
                                Start date is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="endDate">End Date</label>

                            <input type="date" name="endDate" placeholder="End Date" class="form-control" required [(ngModel)]="dateRange.endDate" #endDate="ngModel">

                            <div [hidden]="endDate.valid || endDate.pristine" class="alert alert-danger">
                                End date is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" [disabled]="!graphForm.form.valid">SUBMIT</button>
                        </div>
                    </form>

                    <!-- Graph output container -->
                    <div class="graphContainer">
                        <div class="text-center">{{graphNotifications}}</div>
                        <div id="chartdiv"></div>
                    </div>
                    <!-- /Graph output container -->
                </div>
            </div>
        </div>
    </div>
</div>