<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="/account/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
        </ul>

        <ul class="sidebar-nav0">
            <li class="nav-item" data-toggle="tooltip" data-placement="right">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#ANALYTICS" data-parent="#exampleAccordion"
                    aria-expanded="false">
                    <strong>ANALYTICS</strong>
                </a>

                <ul class="sidenav-second-level collapse" id="ANALYTICS" style="list-style:none;">
                    <li>
                        <a routerLink="/account/analytics/visitors" routerLinkActive="active">No. of Visitors</a>
                    </li>
                    <li>
                        <a routerLink="/account/analytics/time-spent" routerLinkActive="active">Time Spent</a>
                    </li>
                    <li>
                        <a routerLink="/account/analytics/demographic" routerLinkActive="active">Demographic</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#COMPARE" data-parent="#exampleAccordion" aria-expanded="false">
                    <strong>COMPARE</strong>
                </a>
                <ul class="sidenav-second-level collapse" id="COMPARE" style="list-style:none;">
                    <li>
                        <a routerLink="/account/compare/search" routerLinkActive="active">Search</a>
                    </li>
                    <li>
                        <a routerLink="/account/compare/saved-searches" routerLinkActive="active">Saved Searches</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#PROMOTE" data-parent="#exampleAccordion" aria-expanded="false">
                    <strong>PROMOTE</strong>
                </a>
                <ul class="sidenav-second-level collapse" id="PROMOTE" style="list-style:none;">
                    <li>
                        <a routerLink="/account/promotions/calendar" routerLinkActive="active">Schedule</a>
                    </li>
                    <li>
                        <a routerLink="/account/promotions/create" routerLinkActive="active">Create</a>
                    </li>
                    <li>
                        <a routerLink="/account/promotions/all" routerLinkActive="active">Past Promotions</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-nav1">
            <li>
                <a href="javascript:void(0)">Support</a>
            </li>
            <li>
                <a href="javascript:void(0)">Help</a>
            </li>
            <li class="ftr-top">Copyright 2017 Poplr Inc.</li>
            <li>All Rights Reserved</li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="side-toggle"><a href="javascript:void(0)" id="menu-toggle"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a></div>

        <div class="header-dash">
            <div class="user-set">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#">
                            {{ userEstablishment.name }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu1">
                            <li class="header-main">
                                <a routerLink="/account/establishment" routerLinkActive="active">My Account</a>
                            </li>

                            <li class="header-main">
                                <a routerLink="/account/establishment" routerLinkActive="active">Establishment Details</a>
                            </li>

                            <li class="header-change">
                                <ng-container *ngIf="userEstablishment.photos.length > 0">
                                    <img src="{{imgBaseUrl}}/{{userEstablishment.photos[0].file.path}}" class="img-circle" style="max-width: 70px;">
                                </ng-container>
                                <ng-container *ngIf="userEstablishment.photos.length == 0">
                                    <img src="http://via.placeholder.com/300x500"  class="img-circle" style="max-width: 70px;">
                                </ng-container>

                                <br>
                                <a routerLink="/account/establishment/update">Change</a>
                            </li>

                            <li class="header-change2"><a href="javascript:void(0)" (click)="doSignOut()">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>

</div>