<div id="page-content-wrapper">
    <div class="container-fluid" id="admin-panel">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 p-top">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="establish-panel">
                            ESTABLISHMENT DETAILS
                        </h4>
                    </div>

                    <div class="panel-body establish-panel-body1">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav nav-pills">
                                    <li [class.active]="activeTab === 'general-details'">
                                        <a href="javascript:void(0)" (click)="setTab('general-details')">General Details</a>
                                    </li>
                                    <li [class.active]="activeTab === 'hours-of-operation'">
                                        <a href="javascript:void(0)" (click)="setTab('hours-of-operation')">Hours of Operation</a>
                                    </li>
                                    <li [class.active]="activeTab === 'admin-info'">
                                        <a href="javascript:void(0)" (click)="setTab('admin-info')">Admin Info</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12">
                                <div class="estab-content">

                                    <!-- Establishment General Details -->
                                    <div [hidden]="activeTab !== 'general-details'" id="estab1">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Establishment Name</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="name" value="{{establishment.name}}" name="name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Address</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="address" value="{{establishment.address}}" name="address">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Number</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="phoneNumber" value="{{bizAccount.phoneNumber}}" name="phoneNumber">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">E-mail</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="email" value="{{bizAccount.email}}" name="email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Website</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="url" value="{{establishment.url}}" name="url">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Maximum Capacity</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="capacity" value="{{establishment.capacity}}" name="capacity">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Price Range</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="priceRange" value="{{establishment.pricing}}" name="priceRange">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Image</label>
                                                <div class="col-sm-5">
                                                    <ng-container *ngIf="establishment.photos.length > 0">
                                                        <img src="{{imgBaseUrl}}/{{establishment.photos[0].file.path}}" class="img-responsive img-thumbnail">
                                                    </ng-container>
                                                    <ng-container *ngIf="establishment.photos.length == 0">
                                                        <img src="http://via.placeholder.com/300x500" class="img-responsive img-thumbnail">
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Description</label>
                                                <div class="col-sm-5">
                                                    <textarea class="form-control" placeholder="150 characters max.." rows="4">{{establishment.description}}</textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Establishment Status</label>

                                                <div class="col-sm-5">
                                                    {{establishmentStatus}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Business Account Status</label>

                                                <div class="col-sm-5">
                                                    {{bizAccountStatus}}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /Establishment General Details -->

                                    <!-- Establishment Hours of Operation -->
                                    <div [hidden]="activeTab !== 'hours-of-operation'" id="estab2" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2 col-xs-12">Monday</label>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.mon.startTime}}">{{establishment.operatesAt.mon.startTime}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.mon.endTime}}">{{establishment.operatesAt.mon.endTime}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2 col-xs-12">Tuesday</label>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.tue.startTime}}">{{establishment.operatesAt.tue.startTime}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.tue.endTime}}">{{establishment.operatesAt.tue.endTime}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2 col-xs-12">Wednesday</label>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.wed.startTime}}">{{establishment.operatesAt.wed.startTime}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.wed.endTime}}">{{establishment.operatesAt.wed.endTime}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2 col-xs-12">Thursday</label>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.thu.startTime}}">{{establishment.operatesAt.thu.startTime}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.thu.endTime}}">{{establishment.operatesAt.thu.endTime}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2 col-xs-12">Friday</label>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.fri.startTime}}">{{establishment.operatesAt.fri.startTime}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.fri.endTime}}">{{establishment.operatesAt.fri.endTime}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2 col-xs-12">Saturday</label>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.sat.startTime}}">{{establishment.operatesAt.sat.startTime}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.sat.endTime}}">{{establishment.operatesAt.sat.endTime}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2 col-xs-12">Sunday</label>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.sun.startTime}}">{{establishment.operatesAt.sun.startTime}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 col-xs-6">
                                                <select class="form-control">
                                                    <option value="{{establishment.operatesAt.sun.endTime}}">{{establishment.operatesAt.sun.endTime}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Establishment Hours of Operation -->

                                    <!-- Admin Info -->
                                    <div [hidden]="activeTab !== 'admin-info'" id="estab3">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">E-mail</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="adminEmail" value="{{account.email}}" name="adminEmail">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Phone Number</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="adminPhoneNumber" value="{{account.phoneNumber}}" name="adminPhoneNumber">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /Admin Info -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>