<div class="container-fluid" id="admin-panel">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 p-top">
            <div class="panel panel-primary">
                <div class="panel-body overview-panel-body1">
                    <div class="row">
                        <div class="col-sm-4 pull-right">
                            <search-establishment></search-establishment>
                        </div>
                    </div>

                    <!-- Establishments List -->
                    <div class="row p-aside">
                        <div class="col-sm-4 p-top image-p" align="center" *ngFor="let establishment of establishmentsData">
                            <a [routerLink]="['/account/establishment', establishment.id]">
                                <ng-container *ngIf="establishment.photos.length > 0">
                                    <img src="{{imgBaseUrl}}/{{establishment.photos[0].file.path}}" class="img-responsive img-thumbnail">
                                </ng-container>
                                <ng-container *ngIf="establishment.photos.length == 0">
                                    <img src="http://via.placeholder.com/300x500" class="img-responsive img-thumbnail">
                                </ng-container>

                                <div class="to-image">{{establishment.name}}</div>
                            </a>
                        </div>
                    </div>
                    <!-- /Establishments List -->

                    <!-- Notification message -->
                    <div *ngIf="notificationMessage != ''" class="row">
                        <div class="col-sm-12 text-center">
                            <p><strong>{{notificationMessage}}</strong></p>
                        </div>
                    </div>
                    <!-- /Notification message -->

                    <!-- Load More button -->
                    <div *ngIf="showLoadMore" class="col-sm-12 p-top" align="center">
                        <button class="btn btn-primary" type="button" (click)="loadMore()">Load More</button>
                    </div>
                    <!-- /Load More button -->
                </div>
            </div>
        </div>
    </div>
</div>