<div class="container-fluid" id="admin-panel">
    <div class="row" id="schedule2">
        <div class="col-lg-8 col-lg-offset-2 p-top">
            <div class="panel panel-primary">
                <div class="panel-body overview-panel-body1">
                    <div class="row p-aside">

                        <!-- Create promotion form -->
                        <form #promoteForm="ngForm"
                        class="form-horizontal"
                        (ngSubmit)="submitPromo()"
                        *ngIf="step == 'submit'">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="startDate">Start Date:</label>

                                    <div class="col-sm-8">
                                        <input type="date" 
                                        id="startDate" 
                                        name="startDate" 
                                        class="form-control" 
                                        required 
                                        [(ngModel)]="promotion.startDate" 
                                        #startDate="ngModel">

                                        <div *ngIf="startDate.errors?.required && startDate.touched" class="alert alert-danger">
                                            Start date is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="endDate">End Date:</label>

                                    <div class="col-sm-8">
                                        <input type="date" 
                                        id="endDate" 
                                        name="endDate" 
                                        class="form-control" 
                                        required 
                                        [(ngModel)]="promotion.endDate" 
                                        #endDate="ngModel">

                                        <div *ngIf="endDate.errors?.required && endDate.touched" class="alert alert-danger">
                                            End date is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-sm-offset-1" for="startTime">Start Time:</label>

                                    <div class="col-sm-8">
                                        <input type="time" 
                                        id="startTime" 
                                        name="startTime" 
                                        class="form-control" 
                                        required 
                                        [(ngModel)]="promotion.startTime" 
                                        #startTime="ngModel">

                                        <div *ngIf="startTime.errors?.required && startTime.touched" class="alert alert-danger">
                                            Start time is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-sm-offset-1" for="endTime">End Time:</label>

                                    <div class="col-sm-8">
                                        <input type="time" 
                                        id="endTime" 
                                        name="endTime" 
                                        class="form-control" 
                                        required [(ngModel)]="promotion.endTime" 
                                        #endTime="ngModel">

                                        <div *ngIf="endTime.errors?.required && endTime.touched" class="alert alert-danger">
                                            End time is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Geographical Range:</label>

                                    <div class="col-sm-6">
                                        <select class="form-control" 
                                        name="areaName" 
                                        id="areaName" 
                                        [(ngModel)]="promotion.areaName" 
                                        #areaName="ngModel">
                                            <option value="">
                                                - by city -
                                            </option>
                                            <option *ngFor="let city of cityOptions" 
                                            [value]="city">
                                                {{city}}
                                            </option>
                                        </select>

                                        <div style="padding:10px 0; text-align:center; left:0; right:0;">or</div>

                                        <select class="form-control" 
                                        id="promoRadius" 
                                        name="promoRadius" 
                                        [(ngModel)]="promotion.promoRadius" 
                                        #promoRadius="ngModel">
                                            <option value="0">
                                                - by radius -
                                            </option>
                                            <option *ngFor="let radius of radiusOptions" 
                                            [value]="radius">
                                                {{radius}} miles
                                            </option>
                                        </select>

                                        <div *ngIf="geographicalRangeValidationFailed" class="alert alert-danger">
                                            Geographical range "by city" or "by radius" is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="ageRange">Age Range:</label>

                                    <div class="col-sm-6">
                                        <select class="form-control" 
                                        required 
                                        id="ageRange" 
                                        name="ageRange" 
                                        [(ngModel)]="promotion.ageRange" 
                                        #ageRange="ngModel">
                                            <option value="">
                                                - select -
                                            </option>
                                            <option *ngFor="let ageRange of ageRangeOptions" 
                                            [value]="ageRange">
                                                {{ageRange}}
                                            </option>
                                        </select>

                                        <div *ngIf="ageRange.errors?.required && ageRange.touched" class="alert alert-danger">
                                            Age range is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="targeted">Target Wishlist:</label>

                                    <div class="col-sm-6">
                                        <select class="form-control" 
                                        id="targeted" 
                                        name="targeted" 
                                        [(ngModel)]="promotion.targeted" 
                                        #targeted="ngModel">
                                            <option value="true">On</option>
                                            <option value="false">Off</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4 p-text" for="description">Content:</label>

                                    <div class="col-sm-10">
                                        <textarea class="form-control" 
                                        rows="4" 
                                        placeholder="150 characters max..." maxlength="150" 
                                        required 
                                        id="description" 
                                        name="description" 
                                        [(ngModel)]="promotion.description" 
                                        #description="ngModel"></textarea>

                                        <div *ngIf="description.errors?.required && description.touched" class="alert alert-danger">
                                            Description is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div id="preview">
                                    <img src="assets/imgs/preview-small.png" width="150" height="293" class="img-responsive prev-img">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group" align="center">
                                    <button type="submit" class="btn btn-default" [disabled]="!promoteForm.form.valid">Preview Promo</button>
                                </div>
                            </div>
                        </form>

                        <!-- Promotion Preview -->
                        <form class="form-horizontal"
                        *ngIf="step == 'preview'">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div id="preview2">
                                    <img src="assets/imgs/preview-big.png"  class="img-responsive prev-img">

                                    <div class="prev-content">
                                        <img src="assets/imgs/glass.png" width="40" height="41" class="img-responsive prev-img1">

                                        <p class="prev-text1">Promo Alert</p>

                                        <p class="prev-text2">{{promotion.description}}</p>

                                        <button type="button" class="btn btn-pink">Accept</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group" align="center">
                                    <button type="submit" class="btn btn-default" (click)="createPromo();">Schedule Promo</button>

                                    <button type="button" class="btn btn-default" (click)="cancelPromo();">Cancel</button>
                                </div>
                            </div>
                        </form>

                        <!-- Notifications -->
                        <div *ngIf="step == 'completed'" class="col-sm-12">
                            <p *ngIf="promoCreated" class="success-notification">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;A new Promotion is created & scheduled successfully.
                            </p>

                            <p *ngIf="!promoCreated" class="failure-notification">
                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Failed to schedule a new promotion.
                            </p>

                            <div class="text-center">
                                <button type="button" class="btn btn-default" (click)="gotoCreatePromo();">Create Another Promotion</button>

                                <button type="button" class="btn btn-default" (click)="gotoCheckAllPromos();">Check All Promotions</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>