<div class="container-fluid" id="admin-panel">
    <div class="row">
        <!-- Statistics -->
        <div class="col-lg-8 col-lg-offset-2 p-top">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="overview-panel">OVERVIEW</h4><br>
                    {{today}}
                </div>
                <div class="panel-body overview-panel-body">
                    <div class="col-md-4 col-xs-6">
                        <div class="overview-h">NO. OF VISITORS</div><br>
                        <div class="overview-b">{{noOfVisitorsToday}}</div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="overview-h">TIME SPENT</div><br>
                        <div class="overview-b">{{avgTimeSpentToday}}</div>
                    </div>
                    <div class="col-md-4 col-xs-6 over-pad">
                        <div class="overview-h">DEMOGRAPHIC</div><br>
                        <div class="overview-b">
                            <p>
                                {{demographicAgeRange}}
                            </p>
                            <p *ngIf="demographicGender">
                                {{demographicGender}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- People currently at venue & Capacity -->
        <div class="col-lg-8 col-lg-offset-2 p-top">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="at-venue">
                        How many people are currently at your venue?
                    </p>
                </div>
                <div class="panel-body overview-panel-body">
                    <div class="range range-primary">
                        <input type="range" name="range" min="1" max="{{ establishmentCapacity }}" value="{{ noOfVisitorsCurrentlyAtVenue }}" onchange="rangePrimary.value=value" disabled>
                        <output id="rangePrimary">
                            {{noOfVisitorsCurrentlyAtVenue}}
                        </output>
                    </div>
                    <div class="at-venue-cap">
                        {{establishmentName}} Capacity ({{establishmentCapacity}})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>