<div class="container-fluid" id="admin-panel">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 p-top">
            <div class="panel panel-primary">
                <div class="panel-body overview-panel-body1">
                    <div class="row">
                        <div class="col-sm-12 pull-right" style="z-index:0;">
                            <form class="form-inline" #graphForm="ngForm" (ngSubmit)="renderGraph()">
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>

                                    <input type="date" name="startDate" placeholder="dd/mm/yyyy" class="form-control" required
                                    [(ngModel)]="dateRange.startDate"
                                    #startDate="ngModel">
        
                                    <div [hidden]="startDate.valid || startDate.pristine"
                                    class="alert alert-danger">
                                        Start date is required.
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
        
                                    <input type="date" name="endDate" placeholder="dd/mm/yyyy" class="form-control" required
                                    [(ngModel)]="dateRange.endDate"
                                    #endDate="ngModel">
        
                                    <div [hidden]="endDate.valid || endDate.pristine" class="alert alert-danger">
                                        End date is required.
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" [disabled]="!graphForm.form.valid">SUBMIT</button>
                                </div>
                            </form>

                            <ng-container *ngIf="!isSaved">
                                <label (click)="saveSearchedEstablishment()" class="save-search"><i class="{{saveSearchFaIcon}}" aria-hidden="true"></i>&nbsp;{{saveSearchLabel}}</label>
                            </ng-container>

                            <ng-container *ngIf="isSaved">
                                <label class="save-search"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Saved</label>
                            </ng-container>
                        </div>
                    </div>

                    <div class="row p-aside">
                        <div class="col-sm-12" align="left">

                            <ng-container *ngIf="selectedEstablishment.photos.length > 0">
                                <img src="{{imgBaseUrl}}/{{selectedEstablishment.photos[0].file.path}}" class="img-responsive img-thumbnail">
                            </ng-container>
                            <ng-container *ngIf="selectedEstablishment.photos.length == 0">
                                <img src="http://via.placeholder.com/300x500" class="img-responsive img-thumbnail">
                            </ng-container>

                            <p class="hotel-name">{{selectedEstablishment.name}}</p>
                        </div>
                    </div>

                    <!-- Graph output container -->
                    <div class="graphContainer row">
                        <div class="text-center">{{graphNotifications}}</div>

                        <div class="p-aside">
                            <div class="col-xs-12 hotel-visitors" align="left">TOTAL VISITORS</div>

                            <div id="chartdiv" style="width: 100%; height: 150px; background-color: #FFFFFF;"></div>

                            <div class="col-xs-6 hotel-namec" align="left">
                                {{selectedEstablishment.name}} ({{selectedEstablishmentVisitsCount}})
                            </div>

                            <div class="col-xs-6 hotel-namec" align="right">
                                {{userEstablishment.name}} ({{userEstablishmentVisitsCount}})
                            </div>

                            <div *ngIf="graphReady" class="col-xs-12" align="left">
                                <p class="hotel-compare" [innerHTML]="comparisonStats"></p>
                            </div>
                        </div>
                    </div>
                    <!-- /Graph output container -->

                </div>
            </div>
        </div>
    </div>
</div>