<div class="container-fluid" id="admin-panel">
    <div *ngIf="notificationMessage != ''" class="row">
        <div class="col-sm-12">
            <p>{{notificationMessage}}</p>
        </div>
    </div>

    <ng-container *ngIf="this.promotions.length > 0">
        <div class="row" id="sorting-controls">
            <label for="sort-radio" class="col-sm-1 control-label text-right promo-sort">Sort By:</label>

            <div class="col-sm-7 col-md-7">
                <div class="input-group">
                    <div id="radio-promo" class="btn-group">
                        <a (click)="sortPromotions('revenue')" class="btn btn-default btn-sm" [class.active]="sortyBy === 'revenue'">Revenue</a>
                        <a (click)="sortPromotions('date')" class="btn btn-default btn-sm" [class.active]="sortyBy === 'date'">Date</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="pastpromo">
            <div *ngFor="let promotion of promotions" class="col-lg-10 col-lg-offset-1 p-top">
                <div class="panel panel-primary">
                    <div class="panel-body overview-panel-body1">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="promo-h">
                                            {{createDateObj(promotion.startsAt) | date:'mediumDate'}}
                                        </div>
                                        <div class="promo-b">
                                            Start Date
                                        </div>
                                        <div class="promo-h">
                                            {{createDateObj(promotion.startsAt) | date:'shortTime'}}
                                        </div>
                                        <div class="promo-b">
                                            Start Time
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="promo-h">
                                            {{createDateObj(promotion.endsAt) | date:'mediumDate'}}
                                        </div>
                                        <div class="promo-b">
                                            End Date
                                        </div>
                                        <div class="promo-h">
                                            {{createDateObj(promotion.endsAt) | date:'shortTime'}}
                                        </div>
                                        <div class="promo-b">
                                            End Time
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="promo-h">
                                            {{promotion.areaName}}
                                        </div>
                                        <div class="promo-b">
                                            Geographical Range
                                        </div>
                                    </div>
    
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="promo-h">{{promotion.ageRange}}</div>
                                        <div class="promo-b">Age Range</div>
                                    </div>
    
                                    <div class="col-sm-4">
                                        <div class="promo-h">
                                            <ng-container *ngIf="promotion.targeted">
                                                On
                                            </ng-container>
                                            <ng-container *ngIf="!promotion.targeted">
                                                Off
                                            </ng-container>
                                        </div>
    
                                        <div class="promo-b">
                                            Target Wishlist
                                        </div>
                                    </div>
    
                                    <div class="col-sm-12">
                                        <div class="promo-h">
                                            {{promotion.description}}
                                        </div>
                                        <div class="promo-b">Content</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="promo-h1">
                                        NUMBER OF CLICKS
                                    </div>
                                    <div class="promo-b1">
                                        {{promotion.clicks}}
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="promo-h1">
                                        REVENUE
                                    </div>
                                    <div class="promo-b1">
                                        {{promotion.amount}}
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="promo-h1">
                                        NUMBER OF VISITORS
                                    </div>
                                    <div class="promo-b1">
                                        {{promotion.promotionVists}}
                                    </div>
                                </div>

                                <div class="col-sm-12 p-top">
                                    <button type="submit" class="btn btn-default" [routerLink]="['/account/promotions/repeat', promotion.id]">Repeat Promo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>