<div class="container-fluid" id="admin-panel">
    <div *ngIf="notificationMessage != ''" class="row">
        <div class="col-sm-12">
            <p>{{notificationMessage}}</p>
        </div>
    </div>

    <div class="row">
        <!-- Promotion Calendar -->
        <div class="col-lg-8 col-lg-offset-2 p-top">
            <div class="panel panel-primary">
                <div class="panel-body overview-panel-body1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>