<div class="container-fluid" id="admin-panel">
    <div *ngIf="notificationMessage != ''" class="row">
        <div class="col-sm-12">
            <p>{{notificationMessage}}</p>
        </div>
    </div>

    <ng-container *ngIf="this.savedEstablishments.length > 0">    
        <div *ngFor="let savedEstablishment of savedEstablishments" class="row">
            <div class="col-lg-10 col-lg-offset-1 p-top">
                <div class="panel panel-primary">
                    <div class="panel-body overview-panel-body1">
                        <div class="row p-aside">
                            <div class="col-sm-12 pull-right" style="z-index:0;">

                                <form class="form-inline" #graphForm="ngForm" (ngSubmit)="renderGraph(savedEstablishment.id, startDate.value, endDate.value, savedEstablishment.id)">
                                    <div class="form-group">
                                        <label for="startDate">Start Date</label>

                                        <input type="date" name="startDate" placeholder="dd/mm/yyyy" class="form-control" required #startDate>
                                    </div>

                                    <div class="form-group">
                                        <label for="endDate">End Date</label>

                                        <input type="date" name="endDate" placeholder="dd/mm/yyyy" class="form-control" required #endDate>
                                    </div>
            
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" [disabled]="!graphForm.form.valid">SUBMIT</button>
                                    </div>
                                </form>

                                <label class="save-search"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Saved</label>
                            </div>
                        </div>

                        <div class="row p-aside">
                            <div class="col-sm-12" align="left">
                                <ng-container *ngIf="establishmentCompareDataArray[savedEstablishment.id].photos.length > 0">
                                    <img src="{{imgBaseUrl}}/{{establishmentCompareDataArray[savedEstablishment.id].photos[0].file.path}}" class="img-responsive img-thumbnail">
                                </ng-container>
                                <ng-container *ngIf="establishmentCompareDataArray[savedEstablishment.id].photos.length == 0">
                                    <img src="http://via.placeholder.com/300x500" class="img-responsive img-thumbnail">
                                </ng-container>

                                <p class="hotel-name">{{establishmentCompareDataArray[savedEstablishment.id].competitorEstablishmentName}}</p>
                            </div>
                        </div>

                        <!-- Graph output container -->
                        <div class="graphContainer row">
                            <div class="text-center">{{establishmentCompareDataArray[savedEstablishment.id].graphNotifications}}</div>
                            
                            <div class="p-aside">
                                <div class="col-xs-12 hotel-visitors" align="left">TOTAL VISITORS</div>

                                <div id="{{savedEstablishment.id}}" style="width: 100%; height: 150px; background-color: #FFFFFF;"></div>

                                <div class="col-xs-6 hotel-namec" align="left">{{establishmentCompareDataArray[savedEstablishment.id].competitorEstablishmentName}} ({{establishmentCompareDataArray[savedEstablishment.id].competitorEstablishmentVisitsCount}})</div>

                                <div class="col-xs-6 hotel-namec" align="right">{{establishmentCompareDataArray[savedEstablishment.id].ownerEstablishmentName}} ({{establishmentCompareDataArray[savedEstablishment.id].ownerEstablishmentVisitsCount}})</div>

                                <div *ngIf="establishmentCompareDataArray[savedEstablishment.id].graphReady" class="col-xs-12" align="left">
                                    <p class="hotel-compare" [innerHTML]="establishmentCompareDataArray[savedEstablishment.id].comparisonStats"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>