<form>
    <div class="input-group">
        <input #searchBox (keyup)="search(searchBox.value)" type="text" placeholder="Search Establishment Name" class="form-control"
        />
        <span class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
    </div>
</form>
<div class="search-suggestions">
    <div *ngFor="let establishment of establishments | async" (click)="gotoDetail(establishment.id)" class="search-result">
        {{establishment.name}}
    </div>
</div>