.search-result {
    padding: 5px;
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
}
.search-suggestions {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 15px;
    max-height: 155px;
    overflow-y: auto;
    z-index: 10;
}